.table {
    border-collapse: collapse;
}

.table, td{
    border: 2px solid #a82f84;
    padding: 12px;
    text-align: center;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 12px;
}

th{
    background-color: #a82f84;
    border:2px solid #a82f84;
    color: antiquewhite;
    padding: 16px;
}

.table tr:nth-child(even) {
    background-color: #cf61ae;
    color: antiquewhite;
}